%li{ :id => dom_id(entry), :class => entry.contest.finished? ? [%w{gold silver bronze}[entry_counter], 'entry'].join(' ') : 'entry'  }
  - if entry.contest.finished? || @voted_entries.include?(entry)
    .owner
      = link_to_profile(entry.user)

  .files
    - entry.files.sort {|a,b| a.first.split('.').last <=> b.first.split('.').last }.each do |name, file|
      .filename
        = name
      - cache "#{entry.id}_#{name}" do
        = raw Gust.parse(file['content'], :filename => name, :url => file['raw_url'])

    %a{:class=>"extend"}
      %span
        View full entry

  - if entry.contest.voting? && logged_in?
    - if vote = entry.votes.select { |vote| vote.user_id == current_user.id }.first
      :erb
        You voted <strong><%= vote.score %>/5</strong>.

      .comments{'data-gist_id' => entry.gist_id}


    - else
      - (1..5).to_a.each do |score|
        = fields_for "votes[#{entry.id}]" do |entry_f|
          = entry_f.label "score_#{score}", score
          = entry_f.radio_button :score, score

  - if entry.contest.finished?
    :erb
      Finished in <strong><%= (entry_counter + 1).ordinalize %> place</strong> with a final score of <strong><%= sprintf("%.1f", entry.score) %>/5</strong>.
