%div{ :id => dom_id(entry), :class => 'entry' }
  = entry.user.login  if entry.contest.closed?
  %p= raw Kramdown::Document.new(entry.description).to_html

  - if entry.contest.voting? && logged_in?

    - if vote = entry.votes.select { |vote| vote.user_id == current_user.id }.first
      = "You voted #{vote.score}/5"
      = render entry.comments

    - else
      - (1..5).to_a.each do |score|
        = fields_for "votes[#{entry.id}]" do |entry_f|
          = entry_f.label "score_#{score}", score
          = entry_f.radio_button :score, score

  = "#{sprintf("%.1f", entry.score)}/5" if entry.contest.closed?
