%li{ :id => dom_id(entry), :class => entry.contest.closed? ? [%w{gold silver bronze}[entry_counter], 'entry'].join(' ') : 'entry'  }
  - if entry.contest.closed? || @voted_entries.include?(entry)
    .owner
      = image_tag entry.user.gravatar_url(:size => 20), :class => 'gravatar'
      = entry.user.login

  - entry.files.each do |name, file|
    .filename
      = name
    = raw Gust.parse(file['content'], :filename => name)

  - if entry.contest.voting? && logged_in?
    - if vote = entry.votes.select { |vote| vote.user_id == current_user.id }.first
      :erb
        You voted <strong><%= vote.score %>/5</strong>.

      .comments{'data-gist_id' => entry.gist_id}


    - else
      - (1..5).to_a.each do |score|
        = fields_for "votes[#{entry.id}]" do |entry_f|
          = entry_f.label "score_#{score}", score
          = entry_f.radio_button :score, score

  - if entry.contest.closed?
    :erb
      Finished in <strong><%= (entry_counter + 1).ordinalize %> place</strong> with a final score of <strong><%= sprintf("%.1f", entry.score) %>/5</strong>.
