= form_for [@contest, @entry] do |f|

  - @entry.errors.full_messages.each do |message|
    %div{:id => 'alert'}= message

  = f.label :gist_id, 'Gist id'
  = f.text_field :gist_id

  = f.submit 'Submit your entry'
