= form_for [@contest, @entry] do |f|

  = f.label :description
  = f.text_area :description

  - if params[:action] == 'new'
    = f.submit 'Submit your entry'
  - else
    = f.submit 'Update your entry'
    = button_to('Delete your entry', [@contest, @entry], :method => :delete)
