= form_for [@contest, @entry] do |f|
  :textile
    Thanks for entering! Before you enter your solution, be sure to read the contest rules.

  = render 'rules_listing'

  - @entry.errors.full_messages.each do |message|
    %div{:id => 'alert'}= message

  = f.label :gist_id, 'Gist id'
  = f.text_field :gist_id

  = f.submit 'Submit your entry'
