= link_to @contest.name, @contest

%ul
  - @entry.files.each do |name, file|
    %li
      = name
      - cache "#{@entry.id}_#{name}" do
        = raw Gust.parse(file['content'], :filename => name, :url => file['raw_url'])
