%ul#menu
  - if @contest.voting? && @entry.votes_from?(current_user) || @contest.finished?
    %li= link_to_profile(@entry.user)
  %li= link_to 'previous', [@contest, @entries[:prev]] if @entries[:prev]
  %li= link_to 'next', [@contest, @entries[:next]] if @entries[:next]

#entry
  #sidebar
    - if @contest.voting? && logged_in?
      #voting
        - if vote = @entry.votes.select { |vote| vote.user_id == current_user.id }.first
          :erb
            You voted <strong><%= vote.score %>/5</strong>.
        - else
          = form_for [@contest, @entry, Vote.new], :remote => true do |f|
            - (1..5).to_a.each do |score|
              = f.hidden_field 'next', :value => @entries[:next].try(:id)
              = f.label "score_#{score}", score
              = f.radio_button :score, score
            = f.submit 'Vote'

  %ul#files
    - @entry.files.sort {|a,b| a.first.split('.').last <=> b.first.split('.').last }.each do |filename, file|
      %li{:'data-filename' => filename}
        %span.filename= filename
        - cache "#{@entry.id}_#{filename}" do
          = raw Gust.parse(file['content'], :filename => filename, :url => file['raw_url'])

    - if @contest.voting? && @entry.votes_from?(current_user) || @contest.finished?
      %li{:id => 'comments', :'data-filename' => 'comments', :'data-gist_id' => @entry.gist_id}
        %span{:class => 'filename comment_box'} Comment

        - if logged_in?
          = form_for [@contest, @entry, Vote.new] do |f|
            = f.label :comment
            = f.text_area :comment

            = f.submit 'Comment'
        - else
          :erb
            Please <%= link_to 'log in', '/auth/github' %> to comment.
