%ul#menu
  %li= link_to 'previous', [@contest, @entries[:prev]]
  %li= link_to 'next', [@contest, @entries[:next]]

#entry
  %ul#files
    - @entry.files.sort {|a,b| a.first.split('.').last <=> b.first.split('.').last }.each do |filename, file|
      %li{:'data-filename' => filename}
        %span.filename= filename
        - cache "#{@entry.id}_#{filename}" do
          = raw Gust.parse(file['content'], :filename => filename, :url => file['raw_url'])
