#entry
  = form_for @contest do |f|
    - if @contest.errors.any?
      %ul.errors
        - @contest.errors.full_messages.each do |message|
          %li= message

    = f.label :name, 'Name'
    = f.text_field :name

    = f.label :starting_on, 'Starting Date'
    = f.text_field :starting_on
    %p#starting_on_parser_hint
      You can input things like 'today', 'tomorrow', 'monday next week' or just '12 Jul 2020'

    = f.label :description, 'Description'
    = f.text_area :description

    = f.label :tagline, 'Tagline'
    = f.text_field :tagline

    = f.submit 'Submit your contest'
