%h2= @contest.name

= raw Kramdown::Document.new(@contest.description).to_html

- unless @contest.open?

  %h3 Entries

  = render @contest.entries.shuffle

- if @contest.open?
  = link_to [:new, @contest, :entry], :class => 'button' do
    %h3 Enter
    = "We'll send you to Github to log in first" unless logged_in?
