%h2= @contest.name

= raw Kramdown::Document.new(@contest.description).to_html

- unless @contest.open?

  %h3 Entries

  = form_for [@contest, Vote.new] do |f|

    %ul#entries
      = render :partial => "entries/entry", :collection => @contest.entries, :locals => { :f => f }

    = f.submit 'Submit your votes' if logged_in? && @contest.voting?

- if @contest.open?
  - if @entry
    %h3
      :erb
        You entered <%= link_to "gist #{@entry.gist_id}", "https://gist.github.com/#{@entry.gist_id}" %>
  - else
    = link_to 'Enter', [:new, @contest, :entry], :class => 'button'

