%h2= @contest.name

= raw Kramdown::Document.new(@contest.description).to_html

- unless @contest.open?

  %h3 Entries

  = form_for [@contest, Vote.new] do |f|
    = render :partial => "entries/entry", :collection => @contest.entries.shuffle, :locals => { :f => f }

    = f.submit 'Submit your votes'

- if @contest.open?
  = link_to [:new, @contest, :entry], :class => 'button' do
    %h3 Enter
