%h2= @contest.name

%p= raw Kramdown::Document.new(@contest.description).to_html

= @contest.state.inspect

- unless @contest.state == 'open'
  = render @contest.entries

= link_to 'Enter', [:new, @contest, :entry]
