- content_for(:title){ @contest.name }
- content_for(:description){ @contest.tagline }

%h2= @contest.name
%span#submitter
  Submitted by
  =link_to @contest.user.login, @contest.user

#contest_description= raw Kramdown::Document.new(@contest.description).to_html

- if @contest.open?

  #entry

    - if @contest.entries.any?

      %h3= "This contest has #{@contest.entries.length} #{@contest.entries.length > 1 ? 'entries' : 'entry'} already"
      %p The entries will become visible when the voting period begins.

    - if @entry

      %h3
        :erb
          You entered <%= link_to "gist #{@entry.gist_id}", "https://gist.github.com/#{@entry.gist_id}" %>
      %p
        :erb
          You can keep updating your gist, we'll take a snapshot of it when the voting period begins. If you want, you can always <%= link_to "delete your entry", [@contest, @entry], :method => :delete %>.

  - if @entry.nil?
    = link_to 'Enter', [:new, @contest, :entry], :class => 'button'

- else
  - if @contest.finished? || logged_in?
    %ul#entries{:class => @contest.state}
      = render :partial => "entries/entry", :collection => @contest.entries.order_by([:score, :desc])
  - else
    = link_to 'Log in to vote', '/auth/github'


