- content_for(:title){ "Hall of Fame" }

%h2 Hall of Fame

%table
  %thead
    %td
    %td
    %td Name
    %td Total points
    %td Average score
    %td Entered contests
    %td Average position
  - @users.each_with_index do |user, index|
    %tr{:class => index <= 2 ? 'top3' : nil}
      %td.narrow= "##{index + 1}"
      %td.center.narrow= image_tag(user.gravatar_url(:size => 40, :default => avatar_url), :class => 'gravatar')
      %td= link_to(user.best_name, user)
      %td.narrow= user.points
      %td.narrow= "#{sprintf("%.1f", user.average_score)}/5"
      %td.narrow= user.participations.count
      %td.narrow= sprintf("%.1f", user.calculate_average_position)
