- content_for(:title){ "Hall of Fame" }

%h2 Hall of Fame

%table
  %thead
    %td
    %td
    %td Name
    %td Total points
    %td Average score
    %td Entered contests
  - @users.each_with_index do |user, index|
    %tr
      %td= "##{index + 1}"
      %td= image_tag(user.gravatar_url(:size => 20, :default => avatar_url), :class => 'gravatar')
      %td= link_to(user.login, user)
      %td= user.points
      %td= "#{sprintf("%.1f", user.average_score)}/5"
      %td= user.participations.count
