- content_for(:title){ @user.name }

%h2= @user.name

#profile

  = image_tag @user.gravatar_url(:size => 140, :default => avatar_url)

  %ul
    %li= link_to("#{@user.login} on Github", "https://github.com/#{@user.login}")
    - @user.urls.reject {|key, value| key == 'GitHub' || value.nil? }.each do |key, url|
      %li= link_to url, url
    %li= "Average score: #{sprintf("%.1f", @user.average_score)}/5"

  - if @entered_contests.any?
    %h3 Entered contests
    %ul
      - @entered_contests.each do |contest|
        %li= link_to contest.name, contest

  - if @submitted_contests.any?
    %h3 Submitted contests
    %ul
      - @submitted_contests.all.each do |contest|
        %li= link_to contest.name, contest
  %hr
