- content_for(:title){ @user.name }

%h2= @user.name

#profile

  = image_tag @user.gravatar_url(:size => 140, :default => avatar_url), :class => 'gravatar'

  %ul
    %li= link_to("#{@user.login} on Github", "https://github.com/#{@user.login}")
    - @user.urls.reject {|key, value| key == 'GitHub' || value.nil? }.each do |key, url|
      %li= link_to url, clean_url(url)
    %li= "Position: ##{@users.index(@user.id) + 1}"
    %li= "Total points: #{@user.points}"
    %li= image_tag('star.png', :alt => 'Contributor') if @user.contributions?

  - if @entered_contests.any?
    %h3 Entered contests
    %table
      %thead
        %td Contest
        %td Position
        %td Score
        %td Points
      - @user.participations.each do |participation|
        - if @entered_contests.map {|p| p.id }.include? participation['contest_id']
          %tr
            %td= link_to participation['contest_name'], "/contests/#{participation['contest_slug']}"
            %td= participation['position']
            %td= "#{sprintf("%.1f", participation['score'])}/5"
            %td= participation['points']
      %tr
        %td Average
        %td= sprintf("%.1f", @user.calculate_average_position)
        %td= "#{sprintf("%.1f", @user.average_score)}/5"
        %td= sprintf("%.1f", @user.calculate_average_points)

  - if @submitted_contests.any?
    %h3 Submitted contests
    %ul
      - @submitted_contests.all.each do |contest|
        %li= link_to contest.name, contest
  %hr
