%tr
  %td
    %h4= suggestion.name
    = suggestion.description
  %td= suggestion.votes.map {|vote| vote['score'] }.inject(&:+)
  %td
    =form_for suggestion do |f|
      = f.hidden_field :score, :value => '+1'
      = image_submit_tag 'thumb_up.png', :class => 'upvote'
  %td
    =form_for suggestion do |f|
      = f.hidden_field :score, :value => '-1'
      = image_submit_tag 'thumb_down.png', :class => 'downvote'


