!!! 5
%html
  %head
    %meta{:name => 'viewport', :content => 'width=385', 'maximum-scale' => '1.0' }
    %title= "#{yield(:title)} #{yield(:title).present? ? ' - ' : ''} Codebrawl"
    -if yield(:description).present?
      %meta{:name => 'description', :content => yield(:description) }

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #wrapper

      #header
        %h1= link_to 'Codebrawl', root_path
        %code if ( ready? && set? ) { fight! };

      #container
        #menu
          %span
            - if current_user
              = link_to_profile(current_user)
              = "(#{link_to('log out', [:session], :method => :delete)})".html_safe
            - else
              = link_to('log in via Github', '/auth/github')

        #main
          - flash.each do |type, message|
            %div{:id => type}= message

          = yield

      #footer
        .left
          %span
            hosted by
            =link_to '6sync', 'http://6sync.com'
        .right
          =link_to 'Fork me on Github', 'https://github.com/codebrawl/codebrawl'
          &bull;
          =link_to 'Submit a contest idea', [:new, :submission]
        %hr

      :javascript
        var woo_settings = {idle_timeout:'300000', domain:'codebrawl.com'};
        (function(){
        var wsc = document.createElement('script');
        wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
        wsc.type = 'text/javascript';
        wsc.async = true;
        var ssc = document.getElementsByTagName('script')[0];
        ssc.parentNode.insertBefore(wsc, ssc);
        })();

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24081100-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();