!!! 5
%html
  %head
    %meta{:name => 'viewport', :content => 'width=385', 'maximum-scale' => '1.0' }
    %title= "#{yield(:title)} #{yield(:title).present? ? ' - ' : ''} Codebrawl"
    -if yield(:description).present?
      %meta{:name => 'description', :content => yield(:description) }
    = auto_discovery_link_tag :atom, 'http://feeds.feedburner.com/codebrawl'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #wrapper

      #header
        %h1= link_to 'Codebrawl', root_path
        %pre
          :erb
            if ( <span>ready?</span> && <span>set?</span> ) then <span>fight!</span> end

      #container{:class => request.path == root_path ? 'home' : 'container'}
        #menu
          = link_to 'Contests', :root
          = link_to 'Hall of Fame', :users
          = link_to 'News', :articles

          %span
            - if current_user
              = link_to_profile(current_user)
              = "(#{link_to('log out', [:session], :method => :delete)})".html_safe
            - else
              = link_to('log in via Github', '/auth/github')

        #main
          - flash.each do |type, message|
            %div{:id => type}= message

          = yield

      #footer
        .left
          %span
            hosted by
            =link_to '6sync', 'http://6sync.com'
        .right
          =link_to 'Fork me on Github', 'https://github.com/codebrawl/codebrawl'
          &bull;
          =link_to 'Submit a contest idea', [:new, :submission]
        %hr

    = render 'analytics'