!!! 5
%html
  %head
    %title Codebrawl
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #header
      %h1 Codebrawl
      %code if ( ready? && set? ) { fight! };

    #container
      - if flash
        #notice= flash[:notice]

      - if current_user
        %p= "logged in as #{current_user.login}"

      = yield
