!!! 5
%html
  %head
    %title Codebrawl
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #header
      %h1= link_to 'Codebrawl', root_path
      %code if ( ready? && set? ) { fight! };

    #container
      #menu
        - if current_user
          %p= current_user.login

      #main
      - if flash.present?
        #notice= flash[:notice]

      = yield
