!!! 5
%html
  %head
    %title Codebrawl
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %h1 Codebrawl

    - if flash
      #notice= flash[:notice]

    = yield
