!!!

%html.no-js
  %head
    %meta{'charset' => 'utf-8'}
    %title= "#{yield(:title).present? ? "#{yield(:title)} - " : ''}Codebrawl"
    - if yield(:description).present?
      %meta{:name => 'description', :content => yield(:description) }
    = auto_discovery_link_tag :atom, 'http://feeds.feedburner.com/codebrawl'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{:class => "#{controller_name} #{action_name}"}

    #wrapper

      %header#header
        %h1= link_to 'Codebrawl', root_path
        %p
          if ( <span>ready?</span> && <span>set?</span> ) then <span>fight!</span> end

      #container{:class => request.path == root_path ? 'home' : 'container'}

        %nav
          %ul
            %li= link_to 'Contests', :root
            %li= link_to 'Hall of Fame', :users
            //%li= link_to 'News', :articles
            %li.user
              - if current_user
                = link_to_profile(current_user)
                = "(#{link_to('log out', [:session], :method => :delete)})".html_safe
              - else
                = link_to('log in via Github', '/auth/github')

        #main
          - flash.each do |type, message|
            %div{:id => type}= message

          = yield

      #adzerk_ad_div
        %script{:type => "text/javascript", :src => "http://engine.rubyrow.net/Server/RUBY/JK/NOCSS"}

      %footer#footer
        .left
          %span
            hosted by
            =link_to '6sync', 'http://6sync.com'
        .right
          =link_to 'Fork me on Github', 'https://github.com/codebrawl/codebrawl'
          &bull;
          =link_to 'Submit a contest idea', [:new, :submission]
        %hr



    = render 'analytics'
