!!! 5
%html
  %head
    %meta{:name => 'viewport', :content => 'width=385', 'maximum-scale' => '1.0' }
    %title Codebrawl
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    #wrapper

      #header
        %h1= link_to 'Codebrawl', root_path
        %code if ( ready? && set? ) { fight! };

      #container
        #menu
          %span
            - if current_user
              = image_tag current_user.gravatar_url(:size => 20), :id => 'gravatar'
              //= link_to current_user.login, user_path(current_user.login)
              = current_user.login
              :erb
                (<%= link_to('log out', [:session], :method => :delete)%>)
            - else
              = link_to('log in via Github', '/auth/github')

        #main
          - flash.each do |type, message|
            %div{:id => type}= message

          = yield
